<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>357904924573-65np7g98ph48lkis5tpnfl4oib9tlvpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.357904924573-65np7g98ph48lkis5tpnfl4oib9tlvpf</string>
	<key>API_KEY</key>
	<string>AIzaSyBr1ImYKrlHfbF1SATQO2lOPGlzONUT7J0</string>
	<key>GCM_SENDER_ID</key>
	<string>357904924573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Lee.GoogleMapDemo</string>
	<key>PROJECT_ID</key>
	<string>my-project---goo-1506325680625</string>
	<key>STORAGE_BUCKET</key>
	<string>my-project---goo-1506325680625.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:357904924573:ios:bf9a74364bd0ed52</string>
	<key>DATABASE_URL</key>
	<string>https://my-project-goo-1506325680625.firebaseio.com</string>
</dict>
</plist>